
<h1><center>SAT 4310 Advanced Scripting Programming </center></h1>

<h1><center>Lab 2: Basics Python II </center></h1>



<h3>
<font color='blue'>
    
**Course Name** : SAT 4310 Advanced Scripting Programming

**Semester**    : Fall 2023

**Author**      : Your full name

**Date**: mm/dd/yy

</font>
<h3>

This notebook will help you practice some of the skills and concepts you learned in the Basics Python and Classes and Objects modules of the class:

- Strings, Numbers
- Variables
- Lists, Sets, Dictionaries
- Loops and list comprehensions
- Control Flow
- Functions
- Classes
- Packages/Modules
- Debugging an error
- Using documentation

## **Exercise 1: Randomly generate a list and check if the first and last number of the list is the same, if it is not same, swap their postions.**
**Expected output:**

```
Original List: [11, 62, 75, 22, 24, 52, 47, 42, 21, 91]
Modified List: [91, 62, 75, 22, 24, 52, 47, 42, 21, 11]
```

In [ ]:
# your code here

## **Exercise 2: Print the following pattern**
2

4 4

8 8 8

16 16 16 16

32 32 32 32 32

In [ ]:
# your code here

## **Exercise 3: Write a Python Program to 1) ask a user to enter an integer greater than ten, 2) reverse its digit, 3) then use control statements to determine which integer is greater, i.e., original integer or reversed integer.**
**Expected output:**

```
Original Integer: 1234
Reversed ingeer: 4321
Reversed integer is greater
```

In [ ]:
# your code here

## **Exercise 4: Define a function named 'fibonacci' that can compute Fibonacci series, and then display Fibonacci series up to 20 terms.**
hint: The Fibonacci series is an infinite series, starting from '0' and '1', in which every number in the series is the sum of two numbers preceding it in the series. For instance: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, etc.

`Expected output: 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181`

In [ ]:
# your code here

## **Exercise 5: Write a program to calculate the sum of series up to _n_ term. For example, if _n = 5_ the series**

### will be `5+55+555+5555+55555 = 61725`.

In [ ]:
# your code here

## **Exercise 6: Randomly generate two lists contains 5 integers each from 1 to 100, and create a list by picking an odd-index items from the first list and even index items from the second.**  

hint: Use random modules and [list slicing](https://www.geeksforgeeks.org/python-list-slicing/)

**Expected output:**

```
[82, 22, 81, 79, 45]
[64, 96, 57, 91, 24]
Element at odd-index positions from list one
[22, 79]
Element at even-index positions from list two
[64, 57, 24]
Printing Final third list
[22, 79, 64, 57, 24]
```

In [ ]:
# your code here

## **Exercise 7: Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.**
```python
my_dict = {
    "name": 'Tesla car',
    
    "model": 'Model X',
    
    "price": '$80k',
    
    "year": 2022}
```
**Keys to extract:**

keys = ["name", "price"]

**Expected output:**
```
{'name': 'Tesla car', 'price': '$80k'}
```

In [ ]:
# your code here

## **Exercise 8:  Write a program to count the number of occurrences of even number from a tuple given below:**

tuple1 = (55, 23, 7, 17, 8, 65, 3, 56, 31, 72, 52, 53, 95, 94, 40, 38, 20, 59, 71, 34)

In [ ]:
# your code here

## **Exercise 9: Here we have some data on the number of books read by different people who work at Bob's Book Emporium. Create Python code that loops through each of the people and prints out how many books they have read. If someone has read 0 books, print out "___ has not read any books!" instead of the number of books.**

In [ ]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

There are several ways to solve this -- you could look at the `zip()` function, use `enumerate()`, use `range` and `len`, or use other methods. To print the names and values, you can use string concatenation (+), f-string formatting, or other methods.

**Expected output:**
```
Krishnang has read 12 books!
Steve has read 6 books!
Jimmy has not read any books!
Mary has read 7 books!
Divya has read 4 books!
Robert has read 10 books!
Yulia has read 15 books!
```

In [ ]:
# your code here

Turn the loop we just created into a function that takes the two lists (books read and people) as arguments. Be sure to try out your function to make sure it works.

In [ ]:
# your code here

Challenge: Sort the values of `books_read` from greatest to least and print the top three people with the number of books  they have read. This is a tougher problem. Some possible ways to solve it include using NumPy's argsort, creating a dictionary, and creating tuples.

In [ ]:
# your code here

Bob's books gets a discount for every multiple of 3 books their employees buy and read. Find out how many multiples of 3 books they have read, and how many more books need to be read to get to the next multiple of 3. Python has a built-in `sum` function that may be useful here, and don't forget about the modulo operator.

In [ ]:
# your code here

Create a dictionary for the data where the keys are people's names and the values are the number of books. An advanced way to do this would be with a dictionary comprehension, but you can also use a loop.

In [ ]:
# your code here

Challenge: Use the dictionary to print out the top 3 people with the most books read. This is where Stack Overflow and searching the web might come in handy -- try searching 'sort dictionary by value in Python'.

In [ ]:
# your code here

Using sets, ensure there are no duplicate names in our data. (Yes, this is trivial since our data is small and we can manually inspect it, but if we had thousands of names, we could use the same method as we do here.)

In [ ]:
# your code here

Create a class for storing the books read and people's names. The class should also include a function for printing out the top three book readers. Test out your class to make sure it works.

In [ ]:
# your code here

Use the time module to see how long it takes to make a new class and print out the top three readers.

In [ ]:
# your code here

Another way to do this is with the %%timeit magic command:

The code below is throwing a few errors. Debug and correct the error so the code runs.

In [ ]:
for b, p in zip(books_read, people)[:3]:
    if b > 0 and b < 10:
        print(p + ' has only read ' + b + ' books')

Use the documentation (https://docs.python.org/3/library/stdtypes.html#string-methods) to understand how the functions `rjust` and `ljust` work, then modify the loop below so the output looks something like:

```
Krishnang------12 books
Steve---------- 6 books
Jimmy---------- 0 books
Mary----------- 7 books
Divya---------- 4 books
Robert---------10 books
Yulia----------15 books
```

In [ ]:
for b, p in zip(books_read, people):
    print(f'{p} {b} books')

---

## **Exercise 10: uploading your work**

1. Make sure your exercise notebook has the correct name: `<your LastName_FirstName>-lab-2.ipynb`. (You won't get credit for your hard work otherwise.)
2. Right-click on that notebook and click â†“Download. Download the file to your computer. (This varies depending on your device, but save it somewhere easily accessible.)
3. Open [Canvas](https://mtu.instructure.com/) and log in.
4. Go to the assignment for this week, hit submit, and upload your lab from your computer.

---

Good job, and see you next week.